body {
	font-family: arial;
	
	background-color: rgb(223, 228, 236);
	

}

h1 {
	color: rgb(0, 40, 77);
}

#rood {
	color: red;
	padding: 0px auto 0px 15px;
	margin: 0px auto 0px 15px;
	font-size: 12px; 
}

#groen {
	color: green;
	padding: 0px auto 0px 15px;
	margin: 0px auto 0px 15px;
	font-size: 12px; 
}

#buiten {
	max-width: 600px;
	margin: 100px auto 0 auto;
	background-color: white;
	padding: 5px;
	border: 2px solid rgba(214, 214, 194, 0.8);
	border-bottom: 0px;
	
}

#margin {
	padding-left: 40px;
}

#knop {
	margin-bottom: 10px;
	background-color: #0099ff;
	color: white;
	border: 0px;
	border-radius: 4px;
	padding: 5px 10px;
}

.input {
	border: 1px solid rgba(208, 217, 226, 0.8);
	border-radius: 4px;
	padding: 8px 15px;
	width: 70%;

}

.onderkant {
	background-color: rgb(243, 243, 245);
	max-width: 600px;
	margin: 0 auto;
	padding: 10px 5px;
	border: 2px solid rgba(214, 214, 194, 0.8);
	border-top: 0px;
}

.ondertext {
	padding-left: 40px;
	font-size: 13px;
}

a {
	color: rgb(26, 198, 255);
	font-size: 12px;
	text-decoration: none;
}

a:hover {
	color: rgba(26, 198, 255, 0.5);
}

label {
	font-size: 13px;
}

