body {
	font-family: arial;
	background-color: rgb(223, 228, 236);
	font-size: 13px;
}

h1 {
	color: rgb(0, 40, 77);
	font-size: 30px;
}

.input {
	border: 1px solid rgba(208, 217, 226, 0.8);
	border-radius: 4px;
	padding: 8px 15px;
	width: 70%;
}

#buiten {
	max-width: 600px;
	margin: 50px auto 0 auto;
	background-color: white;
	padding: 5px;
	border: 2px solid rgba(214, 214, 194, 0.8);
	
	
}

#margin {
	padding-left: 40px;
}

#knop {
	margin-bottom: 10px;
	background-color: #0099ff;
	color: white;
	border: 0px;
	border-radius: 4px;
	padding: 5px 10px;
}